.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.plane_box {
  position: relative;
  top: -5%;
}
.plane {
  position: relative;
  left: 4%;
  transform:rotate(12deg);
  width: 95%;

}
.gate_box {
  width: 100%;
  position: relative;
  bottom: 8%;
  overflow: hidden
}
.language {
  position: relative;
  bottom: 20%;
  z-index: 10;
  text-align: center;
  font-size:  clamp(1vw, 4vw, 10vw);
}
.language_select {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  bottom: 16%;
  width: 75%;
  margin: 0 auto;
}
.language_btn {
  color: #fff;
  background-color: #5B80DD;
  height: 4em;
  border-radius:12px;
  border:none;
  text-align: center;
  width: 100%;
  font-size:  clamp(1vw, 4vw, 10vw);
}

.btn {
  padding: 2%;
  padding-left: 20px;
  position: absolute;
  z-index: 1000;
  bottom: -80%;
  right: -10%;
  background-color: #EE7531;
  color: #fff;
  border-radius: 45%;
  border:none;
  font-size:  clamp(2vw, 4vw, 10vw)

}
